body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.small-caps {
  font-family: 'Latin Modern Roman', serif;
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#citation {
    border-top: 3px solid var(--buttons-hover-color);
    border-top-style: 10px;
    margin-top: 70px;
    /* margin-bottom: 70px; */
    padding: 15px; /* Adds padding inside the section */
    align-items: center; /* Center horizontally within the container */
    justify-content: center;
    max-width: 875px;
    width: 90%; /* Set width relative to the parent container */
    overflow: hidden;

}


body {
  font-family: sans-serif;
  padding: 40px;
  background: #f9f9f9;
  text-align: center;
}


.slider-for .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 360px; /* Match the image height */
}

.slider-for {
  width: 100%;
  margin: 0 auto;
}

/* .slider-for img {
  width: 100%;
  border: 1px solid #ccc;
  max-height: 500px;
  object-fit: contain;
} */

.slider-nav {
  width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center; /* ✨ This centers items vertically */
  justify-content: center;
}

.slider-nav img {
  width: 150px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.slider-nav .slick-current img {
  border-color: #333;
}

.slider-container {
  width: 100%;   /* maintain aspect ratio */
  object-fit: contain; /* or "contain" depending on desired crop behavior */
  display: block;
  margin: 0 auto;
}

.slider-container .slider-for img {
  height: 360px;         /* Fixed height for main slider images */
  width: auto;           /* Maintain aspect ratio */
  object-fit: contain;     /* Crop if needed to fill height */
  display: block;
  margin: 0 auto;
}


.associations img {
    height: 20px; 
    vertical-align: left;
    margin-right: 5px;
    margin-left: 5px;
}